body {
    background-color: black;
    color: white;
    min-height: 100vh;
}

@import 'components/general/general.scss';
@import 'components/header/header.scss';
@import 'components/intro/cover.scss';
@import 'components/intro/brand-slider.scss';
@import 'components/about-us/mosaic.scss';
@import 'components/contact/form.scss';
@import 'components/contact/contact-intro.scss';
@import 'components/footer/footer.scss';