.amazing-brands {
    h2 {
        font-weight: bold;
        font-size: 96px;
        text-transform: uppercase;
        text-align: center;
        width: 90%;
        max-width: 800px;
    }
    .slider-container {
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        width: 100%;
        .brand-slider {

        }
    }
}